html {
    font-size: 15px;
    scroll-behavior: smooth;
}

.bienvenido {
    background: url("../images/fondo-bienvenidos.jpg");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.fixed-top {
    background: rgba(0, 0, 0, 0.90);
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

.custom-toggler.navbar-toggler {
    border-color: #31ADE9;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .8rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
    background: #31ADE9
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    background: #31ADE9;
}

.texto-bienvenida {
    color: white;
    margin-top: 9rem;
}

.btn-primary {
    color: #fff;
    background-color: #00E676;
    border-color: #00E676;
    transition: all .5s ease;
    font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    background-color: #46e699;
    border-color: #00E676;
}

.mt-3,
.my-3 {
    margin-top: 2.5rem!important;
}

.highlight {
    color: #31ADE9
}

.quienessomos {
    background-color: #31ADE9;
    color: white;
}

.tam {
    width: 7rem;
    height: 3rem;
}

.bold {
    font-weight: bold;
}

.referencias {
    background-color: #31ADE9;
}

.referencias a {
    display: block;
    overflow: hidden;
}

.referencias img {
    transition: all .3 ease;
    min-width: 100%;
    min-height: 50%;
}

.referencias a:hover img {
    transform: scale(1.5)
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

@media(min-width:992px) {
    html {
        font-size: 16px;
    }
    .bienvenido {
        background: url("../images/fondo-bienvenido-grande.jpg");
        background-size: cover;
    }
}